! fix selection problems
! https://unix.stackexchange.com/questions/45925/how-to-configure-the-double-click-behavior-in-an-x-terminal
XTerm*VT100.cutNewline: false
XTerm*VT100.cutToBeginningOfLine: false
!XTerm*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
XTerm*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,58:48,64:48,95:48,126:48

! this mainly fixes the "unreadable dark blue on black" problem
xterm*color4: rgb:50/50/a0
xterm*color12: rgb:80/80/f0
! cool pink:
! xterm*color4: rgb:ff/60/e8

! white on black please
*.reverseVideo:on


xterm*utf8Title:	true

! use Freetype fonts:
XTerm*faceName: Terminus
XTerm*faceNameDoublesize: VL Gothic
!alternatives: Dejavu Sans Mono,monospace
!alternatives: IPAGothic

XTerm*fontMenu*fontdefault*Label: 14 (default)
XTerm*faceSize: 14

XTerm*font1.Label: 8
XTerm*faceSize1: 8

XTerm*font2.Label: 10
XTerm*faceSize2: 10

XTerm*font3.Label: 16
XTerm*faceSize3: 16

XTerm*font4.Label: 18
XTerm*faceSize4: 18

XTerm*font5.Label: 20
XTerm*faceSize5: 20

XTerm*font6.Label: 24
XTerm*faceSize6: 24


! problems with Bold in different sizes because there is only ONE bold font to select

!Xterm*alwaysBoldMode: 	false

!XTerm*fontMenu*fontdefault*Label:	size 180 (default)
!XTerm*font:		-*-terminus-medium-r-normal-*-*-180-*-*-c-*-iso10646-1
!XTerm*boldFont: 	-*-terminus-bold-r-normal-*-*-180-*-*-c-*-iso10646-1
!XTerm*wideFont: 	-efont-fixed-medium-r-normal-*-*-160-*-*-c-160-iso10646-1
!XTerm*wideBoldFont: 	-efont-fixed-bold-r-normal-*-*-160-*-*-c-160-iso10646-1

!XTerm*font1.Label:	size 120
!XTerm*font1:		-*-terminus-medium-r-normal-*-*-120-*-*-c-60-iso10646-1
!XTerm*wideFont1:	-efont-fixed-medium-r-normal-*-*-120-*-*-c-120-iso10646-1
!XTerm*wideBoldFont1:	-efont-fixed-bold-r-normal-*-*-120-*-*-c-120-iso10646-1

!XTerm*font2.Label:	size 140
!XTerm*font2:		-*-terminus-medium-r-normal-*-*-140-*-*-c-80-iso10646-1
!XTerm*wideFont2:	-efont-fixed-medium-r-normal-*-*-140-*-*-c-140-iso10646-1
!XTerm*wideBoldFont2:	-efont-fixed-bold-r-normal-*-*-140-*-*-c-140-iso10646-1

!XTerm*font3.Label:	size 220
!XTerm*font3:		-*-terminus-medium-r-normal-*-*-220-*-*-c-110-iso10646-1
!XTerm*wideFont3:	-efont-fixed-medium-r-normal-*-*-240-*-*-c-240-iso10646-1
!XTerm*wideBoldFont3:	-efont-fixed-bold-r-normal-*-*-240-*-*-c-240-iso10646-1

!XTerm*font4.Label: size 240
!XTerm*font4:		-*-terminus-medium-r-normal-*-*-240-*-*-c-120-iso10646-1
!XTerm*wideFont4:	-efont-fixed-medium-r-normal-*-*-240-*-*-c-240-iso10646-1
!XTerm*wideBoldFont4:	-efont-fixed-bold-r-normal-*-*-240-*-*-c-240-iso10646-1

! too big for wide efont
!XTerm*font5.Label: size 280
!XTerm*font5:		-*-terminus-medium-r-normal-*-*-280-*-*-c-140-iso10646-1
!XTerm*wideFont5:	-*-fixed-medium-r-normal-*-*-280-*-*-c-280-iso10646-1
!XTerm*wideBoldFont5:	-*-fixed-bold-r-normal-*-*-280-*-*-c-280-iso10646-1

!XTerm*font6.Label: size 320
!XTerm*font6:		-*-terminus-medium-r-normal-*-*-320-*-*-c-160-iso10646-1
!XTerm*wideFont6:	-*-fixed-medium-r-normal-*-*-320-*-*-c-320-iso10646-1
!XTerm*wideBoldFont6:	-*-fixed-bold-r-normal-*-*-320-*-*-c-320-iso10646-1



*ScrollbarBackground:		black
*ScrollbarForeground:		white
*Scrollbar*background:		black
*Scrollbar*foreground:		white
*Scrollbar*shadowWidth:		0
*Scrollbar*borderWidth:		2

!emacs*menubar*Font:           -*-verdana-medium-r-*-*-*-90-*-*-*-*-iso8859-1
!emacs.modeline*attributeFont: -*-verdana-medium-r-*-*-*-70-*-*-*-*-iso8859-1
!emacs*popup*Font:             -*-verdana-medium-r-*-*-*-80-*-*-*-*-iso8859-1
!emacs.reverseVideo:on
emacs*font:-*-terminus-medium-r-normal-*-*-180-*-*-c-*-iso10646-1
emacs*toolBar:0
emacs*menuBar:0

! ssh-askpass theme
! source: /etc/X11/app-defaults/SshAskpass
SshAskpass*Dialog.font:			-*-terminus-medium-r-*-*-18-*-*-*-*-*-*-*
SshAskpass*foreground:			rgb:af/af/af
SshAskpass*background:			rgb:10/10/10
SshAskpass*topShadowColor:		rgb:6f/6f/6f
SshAskpass*bottomShadowColor:		rgb:4f/4f/4f
SshAskpass*borderColor:			rgb:20/20/20
SshAskpass*shadowThickness:		1
SshAskpass*borderWidth:			1
!SshAskpass*horizontalSpacing:		5
!SshAskpass*verticalSpacing:		6
SshAskpass*Button.font:			-*-terminus-medium-r-*-*-18-*-*-*-*-*-*-*
!SshAskpass*Button.shadowThickness:	2
!SshAskpass*Button.borderWidth:		1
!SshAskpass*Button.horizontalSpacing:	5
!SshAskpass*Button.verticalSpacing:	2
SshAskpass*Indicator.foreground:          rgb:80/00/00
SshAskpass*Indicator.background:          rgb:00/00/80
