! this mainly fixes the "unreadable dark blue on black" problem
xterm*color4: rgb:50/50/a0
xterm*color12: rgb:80/80/f0
! cool pink:
! xterm*color4: rgb:ff/60/e8

! white on black please
*.reverseVideo:on

!XTerm*faceNameDoublesize: Sazanami Mincho-10

xterm*utf8Title:	true

XTerm*fontMenu*fontdefault*Label:       Default
XTerm*font:     -efont-fixed-medium-r-normal-*-14-140-75-75-c-70-iso10646-1
XTerm*wideFont: -efont-fixed-medium-r-normal-*-14-140-75-75-c-140-iso10646-1

XTerm*font1.Label: efont 12 pixel
XTerm*font1:     -efont-fixed-medium-r-normal-*-12-120-75-75-c-60-iso10646-1
XTerm*wideFont1: -efont-fixed-medium-r-normal-*-12-120-75-75-c-120-iso10646-1
XTerm*font2.Label: misc  13 pixel
XTerm*font2:     -misc-fixed-medium-r-semicondensed-*-13-120-75-75-c-60-iso10646-1
XTerm*wideFont2: -misc-fixed-medium-r-normal-*-13-120-75-75-c-120-iso10646-1
XTerm*font3.Label: efont 14 pixel
XTerm*font3:     -efont-fixed-medium-r-normal-*-14-140-75-75-c-70-iso10646-1
XTerm*wideFont3: -efont-fixed-medium-r-normal-*-14-140-75-75-c-140-iso10646-1
XTerm*font4.Label: efont 16 pixel
XTerm*font4:     -efont-fixed-medium-r-normal-*-16-160-75-75-c-80-iso10646-1
XTerm*wideFont4: -efont-fixed-medium-r-normal-*-16-160-75-75-c-160-iso10646-1
XTerm*font5.Label: misc  18 pixel
XTerm*font5:     -misc-fixed-medium-r-normal-*-18-120-100-100-c-90-iso10646-1
XTerm*wideFont5: -misc-fixed-medium-r-normal-*-18-120-100-100-c-180-iso10646-1
XTerm*font6.Label: efont 24 pixel
XTerm*font6:     -efont-fixed-medium-r-normal-*-24-240-75-75-c-120-iso10646-1
XTerm*wideFont6: -efont-fixed-medium-r-normal-*-24-240-75-75-c-240-iso10646-1



*ScrollbarBackground:		black
*ScrollbarForeground:		white
*Scrollbar*background:		black
*Scrollbar*foreground:		white
*Scrollbar*shadowWidth:		0
*Scrollbar*borderWidth:		2

!emacs*menubar*Font:           -*-verdana-medium-r-*-*-*-90-*-*-*-*-iso8859-1
!emacs.modeline*attributeFont: -*-verdana-medium-r-*-*-*-70-*-*-*-*-iso8859-1
!emacs*popup*Font:             -*-verdana-medium-r-*-*-*-80-*-*-*-*-iso8859-1
!emacs.reverseVideo:on
emacs*font:-efont-fixed-medium-r-normal-*-14-*
emacs*toolBar:0
emacs*menuBar:0

! ssh-askpass theme
! source: /etc/X11/app-defaults/SshAskpass
*Dialog.font:			-*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
*?.foreground:			rgb:af/af/af
*?.background:			rgb:10/10/10
*topShadowColor:		rgb:6f/6f/6f
*bottomShadowColor:		rgb:4f/4f/4f
*borderColor:			rgb:20/20/20
*shadowThickness:		1
*borderWidth:			1
!*horizontalSpacing:		5
!*verticalSpacing:		6
*Button.font:			-*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
!*Button.shadowThickness:	2
!*Button.borderWidth:		1
!*Button.horizontalSpacing:	5
!*Button.verticalSpacing:	2
